@import "tailwindcss";

body {
  @apply bg-blue-300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  @apply block mx-2 p-1 text-base font-sans text-gray-900 focus:outline-none lg:inline-block hover:text-indigo-400 focus:text-blue-500;
}

.link.active {
  @apply text-indigo-500;
}

.btn {
  @apply transition duration-500 ease-in-out mt-5 hover:shadow-lg text-white font-bold py-2 px-4 rounded  w-full focus:outline-none focus:shadow-lg select-none;
}
.btn.btn-blue {
  @apply bg-blue-500 hover:bg-blue-700 focus:bg-blue-700;
}
.btn.btn-red {
  @apply bg-red-500 hover:bg-red-700 focus:bg-red-700;
}
.btn.btn-green {
  @apply bg-green-500 hover:bg-green-700 focus:bg-green-700;
}
.btn.btn-yellow {
  @apply bg-yellow-500 hover:bg-yellow-700 focus:bg-yellow-700;
}

.burbleHistory {
  @apply mx-auto my-2 p-2 rounded-full select-none transition duration-500 ease-in-out;
}
.burbleHistory-blue {
  @apply bg-blue-600 hover:bg-blue-400 focus:bg-blue-400;
}
.burbleHistory-red {
  @apply bg-red-600 hover:bg-red-400 focus:bg-red-400;
}
.burbleHistory-green {
  @apply bg-green-600 hover:bg-green-400 focus:bg-green-400;
}
.burbleHistory-yellow {
  @apply bg-yellow-600 hover:bg-yellow-400 focus:bg-yellow-400;
}
.burbleHistory-gray {
  @apply bg-gray-600 hover:bg-gray-400 focus:bg-gray-400;
}
.burbleHistory-purple {
  @apply bg-purple-600 hover:bg-purple-400 focus:bg-purple-400;
}
